@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #4B6CC1 transparent;
    -ms-overflow-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Michroma", sans-serif;
    height: 100vh;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
    background-color: #15141A;
    overflow-x: hidden;
}

/* ........................................................................... */

.loading-page {
    position: Fixed;
    top: 0;
    left: 0;
    background: #15141A;

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#svg {
    height: 250px;
    width: 250px;
    stroke: white;
    fill-opacity: 0;
    stroke-width: 3px;
    stroke-dasharray: 4500;
    animation: draw 8s ease;
}

@keyframes draw {
    0% {
    stroke-dashoffset: 4500;
    }
    100% {
    stroke-dashoffset: 0;
    }
}

.name-container {
    height: 30px;
    overflow: hidden;
}

.logo-name {
    color: #fff;
    font-size: 20px;
    letter-spacing: 16px;
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: bolder;
    font-family: 'Quicksand';
}

  /* ............................................................................. */


/* Estilos de la sección de inicio */
header {
    max-width: 1800px;
    color: white;
    background-color: #15141A;
    display: flex; /* Utilizamos flexbox para distribuir los elementos */
    align-items: center; /* Centramos verticalmente los elementos */
    justify-content: center;
    gap: 20px;
    font-size: 44px;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
}   

header div {
    margin: auto;
    margin-left: 120px;
}

header img {
    max-width: 750px;
    padding-right: 120px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #28282c;
    color: #FFFF;
}

.about {

    padding-left: 90px;
    padding-right: 90px;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15141A;
    padding: 0.5rem;
    width: 100%;
    height: 50px;
}

nav a {
    color: #6d6c6c;
    text-decoration: none;
    margin: 0 1rem;
    transition: color 0.3s ease-in-out;
    height: 50px;
}

nav a:hover {
    color: #4B6CC1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 50px;
}

.icon-container {
    display: flex;
    align-items: center;
}

/* Estilo para el ícono */
#icon-trigger img {
    width: 30px; 
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#icon-trigger2 img {
    width: 50px; 
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#icon-message img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen */
    height: auto;
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

/* Estilo para el mensaje con la imagen (ocultarlo inicialmente)*/
#icon-message {
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: #fff; /* Fondo blanco inicial */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    color: #FFFF;
    transition: background-color 2s; /* Transición de color de fondo en 2 segundos */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

section {
    margin: 0 auto;
    background-color: #28282c; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    width: 82%;
    text-align: center;
    max-width: 1800px;

}

section:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section h2 {
    margin-bottom: 1rem;
    font-size: 24px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #15141A;
    color: #6d6c6c;
}

/* Estilos de botón */
.button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    color: #ffff;
    background-color: #4B6CC1;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    display: inline-block;
    letter-spacing: 1px;
    border-radius: 5px;
}

button:hover {
    color:#4B6CC1;
}



/* --------------------------------------------- */

.logo {
    fill: #28282c;
}

.tec-logos {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
}

.tec-logosP {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre las tarjetas */
}

.logo-card {
    text-align: center; /* Centra el texto */
    width: 200px; /* Ancho de cada tarjeta */
    padding: 20px; /* Espaciado interno de la tarjeta */
    background-color: #3b3b3f;
    color: #28282c;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la tarjeta */
    transform: translateY(20px); /* Inicialmente, desplaza las tarjetas hacia abajo */
    transition: transform 0.5s;
    margin-top: 50px;
}

.logo-cardP {
    text-align: center; /* Centra el texto */
    width: 110px; /* Ancho de cada tarjeta */
    padding: 10px; /* Espaciado interno de la tarjeta */
    background-color: #3b3b3f;
    color: #28282c;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la tarjeta */
    transform: translateY(20px); /* Inicialmente, desplaza las tarjetas hacia abajo */
    transition: transform 0.5s
}

.tec-logos .logo-card {
    animation: slide-up 1s ease-in-out forwards; /* Aplica la animación cuando el usuario llega a la sección */
}

@keyframes slide-up {
    to {
        transform: translateY(0); /* Mueve la tarjeta hacia arriba */
    }
}


.logo-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    animation: slide-up 2s;
    color: #FFFF;
}

.logo-cardP:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    animation: slide-up 2s;
    color: #FFFF;
}

.svg-color-html {
    fill: #E34F26;
}

.svg-color-css {
    fill: #1572B6; 
}

.svg-color-git {
    fill: #F05032; 
}

.svg-color-js {
    fill: rgb(228, 228, 10); 
}

.svg-color-node {
    fill: #07a002; 
}

.svg-color-react {
    fill: #61DAFB; 
}

.svg-color-tailwind {
    fill: #38B2AC; 
}
.svg-color-Luis {
    fill: #dddddd; 
}

/* ---------------------------------------------- */

.contactos {
    display: flex;
    justify-content: center; /* Espacio entre las tarjetas */
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
}

.contacto-card {
    text-align: center; /* Centra el texto */
    width: 115px; /* Ancho de cada tarjeta */
    height: 150px;
    padding: 20px; /* Espaciado interno de la tarjeta */
    background-color: #3b3b3f;
    color: #28282c;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la tarjeta */
    transform: translateY(20px); 
    transition: transform 0.5s;
    margin-top: 30px;
    margin-bottom: 40px;
}

.contactos .contacto-card {
    animation: slide-up 1s ease-in-out forwards; 
}

@keyframes slide-up {
    to {
        transform: translateY(0); 
    }
}


.contacto-card:hover {
    transform: translateY(-5px); /* Efecto de selección al pasar el cursor */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al pasar el cursor */
    animation: slide-up 2s;
    color: #ffff;
}

.svg-color-wp {
    fill: #25D366; 
}

.svg-color-correo {
    fill: #0072C6; 
}

.svg-color-linkedin {
    fill: #0077B5; 
}

.svg-color-github {
    fill: #000000; 
}

/* ---------------------------------------------- */

.Gcontainer {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 50px;
}

.TextG {
    flex: 1;
    width: 100%;
    height: 100%;
    margin-right: 20px;
}


.Gamer { 
    flex: 1;
    max-width: 85%; 
    height: auto;
    display: flex;
    align-items: center; 
    justify-content: center; 
    border-radius: 30px;
}

.games {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.game {
    padding: 10px;
    background-color: #3b3b3f;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.game p {
    max-width: 100%;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.project {
    position: relative;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    margin: 20px;
    background-color: #3b3b3f;
    color: #FFFF;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.project p {
    font-size: 14px;
}

.project-content img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.project-content img:hover {
    transform: scale(1.1);
    cursor: pointer;
}



/* Estilos de la máquina de escribir */
#typing-text {
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    min-height: 80px;
}


.project img {
    max-width: 100%;
}

.containeri {
    max-width: 1200px;
    margin: auto;
    background-color: #28282c;
    color: #FFFF;
}


.calendario {
    width: 100%;
    opacity: 0.5;
}

.calendario-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    position: relative;
}

.image-overlay {
    position: relative;
    width: 100%;
    
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-height: 80px;
}

.centered-text p {
    color: #ddddddcc;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    min-height: 80px;
}

.centered-text h3 {
    color: #ddddddcc;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    min-height: 80px;
}

/* ----------------------------------------------------- */

.Servicios {
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
}

.servicio {
    text-align: center; /* Centra el texto */
    width: 250px; /* Ancho de cada tarjeta */
    padding: 20px; /* Espaciado interno de la tarjeta */
    background-color: #3b3b3f;
    color: #28282c;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la tarjeta */
    transform: translateY(20px); /* Inicialmente, desplaza las tarjetas hacia abajo */
    transition: transform 0.5s;
    margin-top: 50px;
}

.logos {
    width: 60px;
    height: auto;
    fill: #28282c;
    margin-bottom: 10px;
}

.Servicios .servicio {
    animation: slide-up 1s ease-in-out forwards; /* Aplica la animación cuando el usuario llega a la sección */
}

@keyframes slide-up {
    to {
        transform: translateY(0); /* Mueve la tarjeta hacia arriba */
    }
}


.servicio:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    animation: slide-up 2s;
    color: #FFFF;
}

.svg-color-Desarrollo {
    fill: #4CAF50;
}

.svg-color-Diseño {
    fill: #673AB7;
}

.svg-color-Soporte {
    fill: #1565C0;
}

/* ----------------------------------------------------------- */

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 7px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: #4B6CC1; /* Color del indicador */
    border-radius: 5px; /* Bordes redondeados del indicador */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Color de fondo de la barra de desplazamiento */
}


  /* Estilo para el indicador de la barra de desplazamiento en Microsoft Edge */
  *::-webkit-scrollbar-thumb {
    background-color: #4B6CC1; /* Color del indicador */
    border-radius: 5px; /* Bordes redondeados del indicador */
}

  /* Estilo para el fondo de la barra de desplazamiento en Microsoft Edge */
  *::-webkit-scrollbar-track {
    background-color: transparent; /* Color de fondo de la barra de desplazamiento */
}
